*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #049c18;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;    
}
.cabecalho-titulo{
    color: blue;
    font-size: 50px;  

}

.cabecalho-imagem{
    width: 7%;
}

.cabecalho-lista-item{
    display: inline;
    margin: 0 16px;
    font-size: 24px;
}

.home{
    background-image: linear-gradient( #049c18,#eff304);
    color: rgb(24, 3, 216);
    display:grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}
.home-titulo{
    padding: 25px;
    text-align: center;
}
.h2t{
    padding: 10px;
    color: black;
    text-align: center;
}
.fototexto{
   
    text-align: center; 
    padding: 50px;   
}
.img{
    width: 600px;
}
